html,
body {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
.css-container img {
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin: auto;
}
.css-container h2 {
  font-family: "Merriweather", serif;
  font-style: normal;
  margin-top: 30px;
  margin-left: 15px;
}
.css-container p {
  margin-left: 15px;
}
.content-css {
  margin: 20px;
}
.ul-content {
  margin: 20px;
}
.content-css li {
  margin-top: 10px;
}

.example-css {
  display: flex;
  gap: 50%;
  border: dotted 1px red;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.exercise {
  border: dotted 1px rgb(0, 8, 255);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}
