.framework-container h2 {
  font-family: "Merriweather", serif;
  font-style: normal;
  margin-top: 30px;
  margin-left: 15px;
}
.framework-container h3 {
  margin-top: 30px;
  margin-left: 15px;
}
.framework-container p {
  margin-left: 15px;
  margin-top: 5px;
}

.content-framework {
  margin: 20px;
}

.framework-container img {
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin: auto;
}
.content-framework li {
  margin-top: 10px;
  margin-left: 50px;
}
#framework {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

#framework td,
#framework th {
  border: 1px solid #ddd;
  padding: 8px;
}

#framework tr:nth-child(even) {
  background-color: #f2f2f2;
}

#framework tr:hover {
  background-color: #ddd;
}

#framework th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #151f1cb4;
  color: white;
}
.try-js {
  display: flex;
  flex-direction: column;
  background-color: rgba(192, 89, 223, 0.286);
  border: dotted 1px rgb(255, 0, 217);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
